<div class="form-group">
    <h1>{{title}}</h1>
    <label>{{subtitle}}</label>
    <br>

    <div class="row s" m->
        <div class="col-md-8">
            <input type="text" class="form-control"  id="taskFilter" [(ngModel)]="taskFilter"/>
        </div>            
    </div>    
    
    <div class="row">
        <div class="col-md-8">   </div>
    </div>

    <div class="row d-grid gap-2">
        <ol class="col-md-8"> 
            <li *ngFor="let todo of todos | todofilter: taskFilter">
                <app-todo-item [Item]="todo" (completeTask)="onCompleteTask(todo)" (removeTask)="onRemoveTask(todo)" ></app-todo-item>
            </li>
        </ol>
    </div>
    <div>
        <tr>
            <app-todo-form (onAddTask)="onAddNewTask($event)"></app-todo-form>
        </tr>
    </div>
